# App
PORT="4000"

# Better Auth
BETTER_AUTH_URL="http://localhost:4000"
BETTER_AUTH_SECRET="4tvpl1DwpgkuhGnchqwHLkKGi0ceAt2F"

# Database
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="template-hono_dev"
